img {
    display: block;
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 24px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.gallery-image{
    width: 360px;
    height: 200px;
    transition: transform 0.2s ease-in-out;
}

.gallery-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.modal {
    background-color: rgba(46, 47, 66, 0.8);
}

.modal img {
    width: 1100px;
    height: 560px;
    margin: 28px 0;
}